
         .middlediv
         {
         float: left;
         background-color:gray
         }
        
          div3{
         padding : 1%;
         color: white;
         background-color: 009900;
         width: 80%;
         border: solid black;
         }  

         .column1 {
            float: left;
            width: 27%;
           height: 300px; 
        }
        p {
            font-size:20px;
            font-weight:bold;
        }