

.leftdiv
{
float: left;
background-color:palevioletred
}
.middle1div
{
float: left;
background-color:burlywood
}
.rightdiv
{
float: left;
background-color:green
}
div1{
padding : 1%;
color: white;
background-color: 009900;
font-size: 70;
width: 80%;
border: solid black;
}

div2{
  padding : 1%;
  color: white;
  background-color: 009900;
  width: 80%;
  border: solid black;
  } 
