/* .tem {
    background-color: white;
    border: 1px solid rgba(113, 95, 9, 0.12);
    margin-top: 30px;
    padding: 20px 0px;
  }
  
  
   
  .in {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3rem;
    align-items: center;
    text-align: center;
  }
  
  .in h5 {
    font-size: 13px;
    margin-bottom: 10px;
  
    color: black;
  }
  
  .in p {
    color: black;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 10px;
    transition: all 0.42s;
  }
  
  .in p:hover {
    cursor: pointer;
    color: #c43f3f;
  }
  
  .social-icons i {
    color: black;
    margin-right: 10px;
    transition: all 0.42s;
  }
  
  .social-icons i:hover {
    
    transform: scale(0.5) translate(-100%, -100%);
  }
  
  .last {
   
    text-align: center;
    padding: 20px;
  }
  
  .last p {
    color: #00000076;
    font-size: 15px;
  } */